SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_PLAYLIST_ID=6GRco1SVVhOWKd82dviVeb
SPOTIFY_MARKET=ES
SPOTIFY_TRACK_LIMIT=50
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/api/auth/callback
YOUTUBE_API_KEY=
NEXT_PUBLIC_SPOTIFY_PLAYLIST_ID=6GRco1SVVhOWKd82dviVeb
NEXT_PUBLIC_SPOTIFY_PLAYLIST_URL=https://open.spotify.com/playlist/6GRco1SVVhOWKd82dviVeb
NEXT_PUBLIC_YT_MUSIC_URL=
